
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-3 card calculator">
      <div class="card-body">
        <input type="text" name="numbers" id="numbers" class="form-control text-right" [ngModel]="result" (ngModelChange)="updateRsult($event)">
        <div class="row justify-content-center">
          <div class="col-md-3">
            <button type="button" class="btn btn-outline-dark form-control" value="7" (click)="setNumber('7')">7</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-outline-dark form-control" value="8" (click)="setNumber('8')">8</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-outline-dark form-control" value="9" (click)="setNumber('9')">9</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-primary form-control" (click)="selectOperation('sumar')"><i class="fas fa-plus"></i></button>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-3">
            <button type="button" class="btn btn-outline-dark form-control" value="3" (click)="setNumber('3')">3</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-outline-dark form-control" value="4" (click)="setNumber('4')">4</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-outline-dark form-control" value="5" (click)="setNumber('5')">5</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-success form-control" (click)="selectOperation('restar')"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-3">
            <button type="button" class="btn btn-outline-dark form-control" value="1" (click)="setNumber('1')">1</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-outline-dark form-control" value="2" (click)="setNumber('2')">2</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-outline-dark form-control" value="3" (click)="setNumber('3')">3</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-info form-control" (click)="selectOperation('multiplicar')"><i class="fas fa-times"></i></button>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-3">
            <button type="button" class="btn btn-danger form-control" (click)="clear()"><b>C</b></button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-outline-dark form-control" value="0" (click)="setNumber('0')">0</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-secondary form-control" (click)="selectOperation('dividir')"><i class="fas fa-divide"></i></button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-warning form-control" (click)="ejecutar()"><i class="fas fa-equals"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <button type="button" class="btn btn-primary form-control" (click)="navigateToOtherPage()">Go to other page</button>
          <br>
          <br>
          <button type="button" class="btn btn-primary form-control" (click)="navigateToOtherPage('paramentro')">Go to other page with param</button>
        </div>
      </div>
    </div>
  </div>
</div>