input {
    margin-bottom: 15px;
}

.card-body .row {
    margin: 0 !important;
}

.card-body .row .col-md-3 {
    padding: 0 !important;
}

button {
    width: 50px;
    height: 50px;
    margin: 2px;
}